@import "config";
@import "layout";


.text {
  color: rgba(map_get($color, "letter"), map_get($opacity, "secondary"));
  font-size: map_get($font-size, "normal");

  @each $name, $value in $font-size {
    &.#{$name} {
      font-size: $value;
    }
  }

  &.bold {
    font-weight: bold;
  }
  
  &.emphasis {
    color: map_get($color, "letter");
  }

  &.minor {
    color: rgba(map_get($color, "letter"), map_get($opacity, "minor"));
  }
  
  &.trivial {
    color: rgba(map_get($color, "letter"), map_get($opacity, "trivial"));
  }

  @each $name, $value in $color {
    &.#{$name}:not(input):not(textarea) {
      color: $value;
    }
    
    @each $name2, $value2 in $opacity {
      &.#{$name}-#{$name2} {
        color: rgba($value, $value2);
      }
    }
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}
